/*

Button Elements
<button class="e-btn e-btn_skew"><span>SKEWED TEXT</span></button> 

*/

a.e-btn {
	color: #FFF;
}

.e-btn {
	@include font-size(16px);
	color: #FFF;
	display: inline-block;
	padding: $unit/3 $unit/2;
	font-family: $sanserif;
	line-height: 1;
	border: 0;
	&:hover {
		cursor: pointer;
		color: #FFF;
		text-decoration: none;
	}
	&--blue {
		background: #134e92;
		&:hover {
			background-color: darken($brand-blue, 10%);
		}
	}
	&--green {
		background: $brand-green;
		&:hover {
			background-color: darken($brand-green, 10%);
		}
	}
	&--skew {
		transform: skew(-30deg);
		span {
			transform: skew(30deg);
			display: block;
		}
	}
	&--large {
		padding: $unit/2 $unit*2;
		@include font-size(18px)
	}
	&--small {
		padding: $unit/6 $unit/2 ;
		@include font-size(13px)
	}
}
