.c-business {
    @include font-size(12px);
    margin-bottom: 0;
    &__label {
        color: $lightgrey;    
    }
    &__phone {
        @include font-size(20px);
        color: $brand-green;
    }
    &__contact, &__hours {
        color: $darkgrey;   
        float: left;
        position: relative;
        width: auto;
        margin-left: $unit*3;
        &:before {
            content: "";
            border-left: 1px solid $verylightgrey;
            position: absolute;
            height: 60px;
            top: 0;
            left: 0;
            margin: 0 $unit*-1 
        }
    }
}